<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Book</title>
</head>
<body>
    <p>You are successfully borrowing book</p>
    <h2 class="text-info">Borrow details</h2>
    <p>Book Name :<strong class="text-warning">{{book.name}}</strong></p>
    <p>Book category : {{book.categories.name}}</p>
    <p>Borrow price: {{book.borrowing_price}}tk</p>
    <p>After Borrowing account balance : {{balance}}tk</p>
        
</body>
</html>